
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.headcontainer {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    margin-left: 200px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 200px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    margin-left: 24px;
    font-size: 18px;
}

.s2 {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 125px;
    justify-content: space-between;
}

.heromain {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    width: 350px;
    flex-wrap: wrap;
}

.herosecond {
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
    flex-wrap: wrap;
}

.signup {
    color: #e5e7eb;
    background-color: #3b82f6 ;
    border-radius: 10px;
    font-size: 18px;
    padding: 3px 20px;
    margin-top: 10px;
}

.heroimage {
    color: #e5e7eb;
    background-color: gray;
    padding: 150px 225px;
    margin-right: 200px;
}

.heroleft {
    margin-left: 200px;
}

.s3 {
    text-align: center;
    margin-bottom: 125px;
}

.blankinfo {
    border: 3px solid #3882f6;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 36px;
    margin-bottom: 48px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 150px;
}

.text {
    margin-top: 8px;
}

.s4 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    flex-wrap: wrap;
    width: 775px;
    margin-left: 5px;
}

.quotee {
    font-size: 18px;
    font-weight: 700;
    margin-left: 550px;
}

.s5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infocontainer {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 135px;
    border-radius: 10px;
    gap: 225px;
    margin-top: 125px;
    margin-bottom: 125px;
}

.text1 {
    font-size: 24px;
    color: #f9faf8;
}

.text2 {
    font-size: 18px;
    color: #e5e7eb;
}

.signin {
    color: #e5e7eb;
    background-color: #3b82f6 ;
    border-radius: 8px;
    font-size: 18px;
    padding: 4px 24px;
    border: 2px solid #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
}
